* {
    margin: 0;
    padding: 0;
}

.nav-link {
    display: incline;
}

#navbar {
    list-style-type: none;
    text-align: right;
    background-color: blanchedalmond;
    padding: 5px;
}

#main {
    text-align: center;
    background-color: slategray ;
    color: white;

}

#contact { 

}